
<div style="background-color:greenyellow ;height:70px">
    <h1 class="h1" style="text-align:center;font-family:Arial">
        <span><img class="img-thumbnail" src="~/Images/algorithm_working.png" height="100" width="100" style="float:left" /></span>Jungle Safari

    </h1>
</div>